
.top-nav{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    padding: 20px;
    position: fixed;
    top: 0;
    background-color: white;
    margin:5px auto;
}
.mid-nav{
    display: flex;
    padding: 10px;
    border: 1px solid lightgray;
    width: 300px;
    height: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    margin: 0 0 0 0;
}

.input{
    width: 80px;
    height: 30px;
    border: none;
}
.btn{
    height: 30px;
    border-radius: 50%;
    background-color: #ff385c;
    border: none;
}
.bot-nav {
    display: flex;
    align-items: flex-start;
    margin: 0;
}
.cardd{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 150px;
    width: 1200px;
    margin:0 auto;
}
.cards{
    width: 250px;
    margin: 50px auto;
    padding: 1px;
    border-radius: 15px;
}
.cards-img{
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

.cards-i{
    position: relative;
    margin-bottom: 10px;

}
.cards-text{
    position: absolute;
    top: 0;
    right: 0;
}
.text-t{
    display: flex;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px 0 0 0;
}
.ratings{
    display: flex;
    justify-content: space-between;
}
.cards-btxt{
    font-family: sans-serif;
    color: gray;
    font-size: 14px;
    background-color: white;
}
.copyright{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    color: rgb(160, 160, 160);
    margin: 0;
}
.support{
    display: flex;
    align-items: center;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bottom-c{
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 1200px;
    margin:0;
    border-top:1px solid lightgray ;
}
.account{
    display: flex;
    border: 1px solid lightgray;
    width: 70px;
    height: 35px;
    align-items: center;
    border-radius: 20px;
}
.bottom-nav{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    position: fixed;
    top: 100px;
    background-color: white;
    margin:0 auto;
}

.arrow{
    width: 25px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 25px;
}
.filter{
    width: 70px;
    height: 35px;
    border: 1px solid lightgray;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 5px;
}
.img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-txt{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
    font-size:14px ;
    margin: 0;
}
.img-txt img {
    width: 30%;
    margin: 0;
}
